<html>
<head>
  <title>物件情報サンプル</title>
</head>
<body>
<p>
  <%=doc['bukken_id']%> <br />
  <%=doc['name']%> <br />
  <%=doc['category']%> <br />
  <%=doc['eki_info']%> <br />
  <%=doc['description']%> <br />
  <%=doc['kakaku_disp']%> <br />
</p>
  <img src="<%=doc['image1']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image2']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image3']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image4']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image5']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image6']%>?<%=doc['bukken_id']%>" /> <br />
</body>
</html>
