<html>
<head>
  <title>物件情報サンプル</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/jquery.min.js"></script>
</head>

<body>
<header>
  <h1>Lightweight Node Apps</h1>
</header>

<p>
  worker_id : <%=worker_id%> <br />
  bukken_id : <%=doc['bukken_id']%> <br />
  <%=doc['name']%> <br />
  <%=doc['category']%> <br />
  <%=doc['eki_info']%> <br />
  <%=doc['description']%> <br />
  <%=doc['kakaku_disp']%> <br />
</p>
  <img src="<%=doc['image1']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image2']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image3']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image4']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image5']%>?<%=doc['bukken_id']%>" /> <br />
  <img src="<%=doc['image6']%>?<%=doc['bukken_id']%>" /> <br />
<ul>
  <div id="recommend"></div>
</ul>

  <script type="text/javascript">
  <!--
  (function(){
    $.ajax({
      url: '/mongo/api?user_id=<%=user_id%>&api_id=1',
      dataType: 'json',
      success : function(data) {
        for (var i=0; i < data.length; i++){
          $('#recommend').append('<li>レコメンド物件 bukken_id = '+ data[i].bukken_id +' : '+data[i].name +'<img src="' + data[i].image1 + '?<%=doc["bukken_id"]%>"></li>');
        }
      },
      error : function(){
        alert('error');
      }
    });
  })();
  // -->
  </script>
</body>
</html>
